<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %gray([%thread]) %highlight(%level) %cyan(%logger{32}) : %green(%line) - %message%n%rootException</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework.boot.context.embedded" level="INFO"/>
    <logger name="org.springframework.http.client" level="DEBUG"/>
    <logger name="org.springframework.web.client" level="DEBUG"/>
    <logger name="au.com.rainmore" level="INFO"/>
</configuration>